# PORT: The port number on which the API server will listen.
PORT = 5000

# DB_URL: The MongoDB connection URL for your database.
DB_URL = mongodb://127.0.0.1:27017/ethers-node-js

# JWT_ACCESS_TOKEN_EXPIRES_IN: The expiration time for JWT access tokens.
JWT_ACCESS_TOKEN_EXPIRES_IN = 1d

# JWT_SECRET: The secret key used for JWT token signing.
JWT_SECRET = secret

# WORDS: The 12-word mnemonic for the HD wallet.
WORDS = 12-word mnemonic

# NODE_ENV: The environment in which the API is running (development or production).
NODE_ENV = development

# INFURA_API_KEY: Your Infura API key for connecting to the Ethereum network.
INFURA_API_KEY = your-infura-project-api-key